<%= form_for([@partner, @holiday]) do |f| %> 
	<% if @holiday.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@holiday.errors.count, "error") %> prohibited this holiday from being saved:</h2>
			<ul>
				<% @holiday.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<h3> Holiday Details</h3>
	<div class="field">
		<%= f.label :start_at, "Choose Type" %><br />
		<%= radio_button_tag "holiday_type", "single", "single", {:id => "button_single", :checked => true} %> single
		<%= radio_button_tag "holiday_type", "range", "range", {:id => "button_range"} %> range
	</div>
	<div class="field">
		<%= f.label :end_at, "Date" %><br />
		<%= f.text_field :start_at %>
		<%= f.text_field :end_at %>
		<%= f.hidden_field :name %>
		<!%= f.text_field :end_at %>
	</div>
	<div class="actions">
		<%= f.submit 'Book Holiday'%> |
		<%= link_to 'Cancel', @holiday.work_plan.partner %>
	</div>
<% end %>
