<!-- orders/index.html.erb -->
<script type="text/javascript" charset="utf-8">
  $(function() {
    new Highcharts.Chart({
      chart: {
        renderTo: "CalendarCharts_1",
        backgroundColor: null
      },
       credits: {
		      enabled: false
		  },
      title: {
        text: "Section Break-down"
      },
      xAxis: {
        categories: <%= Competency.all.map {|competency| competency.name }.inspect %> 
      },
      yAxis: {
        title: {
          text: "Partners"
        }
      },
      series: [
		    {
					name: "Total Working",
					type: 'column',
		      data: [<%= @shift_managers.count + @shift_non_managers.count%>]
		    },
		    {
					name: "Sections",
					type: 'column',
		      data: [0,3,4,5,2,3,4,5, <%= @shift_managers.count %>]
		    },
		    {
					name: "Not Working",
					type: 'column',
		      data: [<%= @bridge_stats['partners_not_working'].count %>]
		    }
      ]
    });
  });
</script>
<!%= Competency.all.map {|competency| competency.name} %>
<!%= @bridge_stats['competencies'].map{ |competency, numbers| numbers}%>
<!%= ['Total', 'Audio', 'Camera', 'Computer', 'Television', 'Telephone', 'Sasu', 'Task Team', 'Manager' ] %>
<h1> Calendar work plan for <%= simple_date(@calendar_date) %></h1>
<div class = "CalendarBreakdown">
	<h3>
		Break-down 
		<span class = actions>
					<%= link_to 'Book Over-time' %> |
					<%= link_to 'Book Holiday'%> |
					<%= link_to 'More Stats...' %> 
		</span>
	</h3>
	<h4>Who's working?</h4>
		<div class = 'element'>
			<%= @bridge_stats['partners_working'] %>
			<% if not @shift_non_managers.empty? %>
			<%= @shift_non_managers.map{|non_manager| non_manager.partner.first_name + simple_start_end_time(non_manager.start_at, non_manager.end_at) }.to_sentence %>
			<% else %> None <% end %>	
		</div>
	<h4>Who's on Holiday?</h4>
		<div class = 'element'> 
			<!% if not @shift_holidays.empty? %><!%= @shift_holidays.map{|holiday| holiday.partner.first_name }.to_sentence %><!% else %> <!% end %>
			<% @bridge_stats['shift_types'].each_pair do |shift_type, partners| %> 
			<% if not ['normal', 'normal_plus_overtime', 'overtime'].include?(shift_type) and ['holiday'].include?(shift_type) %>
				<% if partners.empty? %> no one... <% else %>
					<%= partners.map{|partner| partner['first_name']}.to_sentence%>
				<% end %>
				<br/>
			<% end %>
		<% end %>
		</div>
	<h4>Which managers are in?</h4>
		<div class = 'element'> 
			<% if not @shift_managers.empty? %><%= @shift_managers.map{|manager| manager.partner.first_name + simple_start_end_time(manager.start_at, manager.end_at) }.to_sentence %><% else %> None <% end %>
		</div>
	<h4>The stats...</h4>
		<div class = 'element'>
			Total: Partners (<%= @bridge_stats['total_working'] %>), Managers (<%= @bridge_stats['total_managers'] %>),	Non-Managers (<%= @bridge_stats['total_working'] - @bridge_stats['total_managers'] %>) <br/>
			Sections:<br>
		</div>
		<div id="CalendarCharts_1" class = "CalendarCharts" style="width:100%; height:250px;"></div>
</div>
<div class = "CalendarActions" >
	<%= link_to 'Calendar', calendar_url %> |
	<%= link_to "Today's Bridge Plan", bridges_day_path(:day => @calendar_date.day, :month => @calendar_date.month, :year => @calendar_date.year) %>
</div>

