<h2>Basic Information</h2>
<div class="field">
	<%= f.label :first_name %><br />
	<%= f.text_field :first_name %>
</div>
<div class="field">
	<%= f.label :last_name %><br />
	<%= f.text_field :last_name %>
</div>
<div class="field">
	<%= f.label :employee_no %><br />
	<%= f.text_field :employee_no %>
</div>
<div class="field">
	<%= f.label :is_manager, "Manager?" %><br />
	Yes <%= f.radio_button :is_manager, "true" %>
	No <%= f.radio_button :is_manager, "false" %>
</div>
<div class="field">
	<%= f.label :is_temp, "Temporary?" %><br />
	Yes <%= f.radio_button :is_temp, "true" %>
	No <%= f.radio_button :is_temp, "false" %>
</div>
