<%= @partner.first_name %>
<%= fields_for @work_plan do |h| %>
	<%= h.fields_for :weekly_rotas do |rota_builder| %>
		<%= render :template => 'work_plans/_weekly_rota_fields.html.erb', :locals => {:f => rota_builder}%>
	<% end %> 
	<div class = "fields">
		<%= link_to_add_weekly_rota "Add New", h, :weekly_rotas, partner_full_name(@partner)%>
	</div>
<% end %>

