	<%= f.fields_for :contact do |contact_details| %>
		<div class="field">
			<%= contact_details.label :telephone_no %><br />
			<%= contact_details.telephone_field :telephone_no %>
		</div>
		<div class="field">
			<%= contact_details.label :address_line1,"Address Line 1" %><br />
			<%= contact_details.text_field :address_line1 %>
		</div>
		<div class="field">
			<%= contact_details.label :address_line2, "Address Line 2" %><br />
			<%= contact_details.text_field :address_line2 %>
		</div>
		<div class="field">
			<%= contact_details.label :city %><br />
			<%= contact_details.text_field :city %>
		</div>
		<div class="field">
			<%= contact_details.label :county %><br />
			<%= contact_details.text_field :county %>
		</div>
		<div class="field">
			<%= contact_details.label :post_code %><br />
			<%= contact_details.text_field :post_code %>
		</div>
	<% end %>


