<%= div_for partner do %>
	<h2>
		<%= partner.first_name %> <%= partner.last_name %>	(<%= partner.employee_no %>)
		<span class='actions'>
			<%= link_to "Edit", edit_partner_path(partner) %>
			<%= link_to "Delete", partner, :confirm => "Are you sure?", :method => :delete %>
		</span>
	</h2>
<% end %>

