<div class="fields">
	<table id= "weeklyRotaTable" cellspacing="0">
		<thead>
			<tr>
			<th></th>
			<th>Sunday</th>
			<th>Monday</th>
			<th>Tuesday</th>
			<th>Wednesday</th>
			<th>Thursday</th>
			<th>Friday</th>
			<th>Saturday</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th>Select</th>
					<%= f.fields_for :shift_templates do |builder| %>
						<td rowspan=3>
							<table id='' border=0 cellspacing=0>
							<tbody>
								<tr><td>
									<p><%= builder.check_box :is_active%></p>
								</td></tr>
								<tr><td>
									<%= builder.time_select :start_at, :minute_step => 5%>
								</td></tr>
								<tr><td>
									<%= builder.hidden_field :name %>
									<%= builder.time_select :end_at, :minute_step => 5 %>
								</td></tr>
							</tbody>
							</table>
						</td>
					<% end %>
			</tr>
			<tr><th>Starting Time</th></tr>
			<tr><th>Finishing Time</th></tr>
		</tbody>
		<tfoot>
			<tr><th><%= link_to_remove_fields "Remove", f %></th></tr>
		</tfoot>
	</table>
</div>
