<h1>
	Listing Partners
	<span class='actions'>
		<%= link_to 'New Partner', new_partner_path %>
	</span>
</h1>
<div class = 'partners' >
	<%= form_tag partners_path, :method => 'get', :id => "partners_search" do %>
		<p>
		  <%= text_field_tag :search, params[:search] %>
		  <%= submit_tag "Search", :name => nil %>
		</p>
		<br /><br />
		<div id = 'partners'>
			<%= render 'partners_table' %>
		</div>
	<% end %>
</div>

