<h1>Listing partners</h1>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Employee no</th>
    <th>Contact tel</th>
    <th>Contact address</th>
    <th>Contact email</th>
    <th>Is manager</th>
    <th>Is temp</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @partners.each do |partner| %>
  <tr>
    <td><%= partner.first_name %></td>
    <td><%= partner.last_name %></td>
    <td><%= partner.employee_no %></td>
    <td><%= partner.contact_tel %></td>
    <td><%= partner.contact_address %></td>
    <td><%= partner.contact_email %></td>
    <td><%= partner.is_manager %></td>
    <td><%= partner.is_temp %></td>
    <td><%= link_to 'Show', partner %></td>
    <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
    <td><%= link_to 'Destroy', partner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Partner', new_partner_path %>
