<h1> New Partner Wizard</h1>
<%= form_for(@partner) do |f| %>
  <h3>
  	<%= @partner.current_step.capitalize %> Information (Step 1 of 4)
	</h3>
		<% if @partner.errors.any? %>
		  <div id="error_explanation">
		    <h2><%= pluralize(@partner.errors.count, "error") %> prohibited this from being saved:</h2>
		    <ul>
				  <% @partner.errors.full_messages.each do |msg| %>
				    <li><%= msg %></li>
				  <% end %>
		    </ul>
		  </div>
		<% end %>
	<%= render "new_#{@partner.current_step}_step", :f =>f %>
	<div class="list_actions">
		<ul>
			<% if not @partner.first_step? %>	<li><%= f.submit  "Back", :name => "back_button" unless @partner.first_step? %></li> <% end %>
			<li><%= f.submit  "Continue" %> </li>
			<li><%= link_to 'Cancel', @partner %></li>
		</ul>
	</div>
<% end %>

