<<<<<<< HEAD
<%= form_for(@partner) do |f| %>

	<%= render "#{@partner.current_step}_step", :f =>f %>
	
		<p><%= f.submit  "Continue" %> | <%= link_to 'Cancel', @partner %></p>
		<p><%= f.submit  "Back", :name => "back_button" unless @partner.first_step? %></p>

	
<% end %>
=======
<h1>New partner</h1>
<%= render 'partner_wizard' %>
<!%= render 'form' %>
>>>>>>> b05de798bc0be9b55f803f5491e82f9de3d4a98a

