<%= render @partner %>

<%= render @partner.contact %>

<%= render  :template => 'competencies/_competencies.html.erb', :competencies => @partner.competencies %>

<%= render @partner.work_plan %>

<div id = "navigation">
	<h3><%= link_to "All Partners", partners_path%></h3>
</div>
