<%= div_for work_plan do %>
	<h3>
		<span class='actions'>
			<%= link_to 'Delete', [@partner, work_plan], :confirm => 'Are you sure?', :method => :delete %>
		</span>
	</h3>
	
	<h4> Weekly Rotas </h4>
		<% if @partner.work_plan.weekly_rotas.empty? %>
			No weekly shift rotations have been set.
		<% else %>
			<%= render @partner.work_plan.weekly_rotas %>
		<% end %>
	<h4> Holidays </h4>
		<% if @partner.work_plan.holiday_entitle.nil? and @partner.work_plan.holiday_taken.nil? %>
			No holiday information has been set.
		<% else %>
			Holiday Entitlement: <%= work_plan.holiday_entitle %> <br>
			Holidays Booked: <%= work_plan.holiday_taken %> <br>
			Holidays Left: <%= holidays_left(work_plan.holiday_entitle, work_plan.holiday_taken) %> <br>
			Dates Booked:
			<span class='holiday_dates'>
			<%= render @partner.work_plan.holidays %>
			</span>
		<% end %>
<% end %>

