<%= div_for work_plan do %>
	<h3>
		Work Plan
		<span class='actions'>
			<%= link_to 'Edit', edit_partner_work_plan_path(work_plan.partner, work_plan) %>
			<%= link_to 'Delete', [work_plan.partner, work_plan], :confirm => 'Are you sure?', :method => :delete %>
		</span>
	</h3>
	
	<h4> Weekly Rotas </h4>
		<% if work_plan.weekly_rotas.empty? %>
			<div class = 'element'>No weekly shift rotations have been set. </div>
		<% else %>
			<%= render work_plan.weekly_rotas %>
		<% end %>
	<h4> Holidays </h4>
		<% if work_plan.holiday_entitle.nil? and work_plan.holiday_taken.nil? %>
			<div class = 'element'>No holiday information has been set.</div>
		<% else %>
			<div class = 'element'>Holiday Entitlement: <%= work_plan.holiday_entitle %> </div>
			<div class = 'element'>Holidays Booked: <%= work_plan.holidays.count %> </div>
			<div class = 'element'>Holidays Taken: <%= work_plan.holiday_taken %> </div>
			<div class = 'element'>Holidays Left: <%= holidays_left(work_plan.holiday_entitle, work_plan.holiday_taken) %> </div>
			<div class = 'element'>	Dates Booked:
				<div class='holiday_dates'>
					<ul>
					<%= render work_plan.holidays %>
					</ul>
				</div>	
			</div>
			<div class = 'element'><%= link_to 'Book a Holiday', new_partner_work_plan_holiday_path(work_plan.partner) %></div>
		<% end %>
<% end %>

