
<h1>Populate Shifts for <%= partner_full_name(@work_plan.partner) %></h1>

<%= form_for [@work_plan.partner, @work_plan], :url => update_shifts_partner_work_plan_path(@work_plan.partner)  do |f| %>
	<div class="field">
		<%= f.label "Select" %><br />
		<!%= f.date_select :start_at %>
		<!This is where you will put your fields dude>
	</div>
	<div class="field">
		<%= f.label "Date" %><br />
		<!%= f.text_field :start_at %>
		<!This is where you will put your fields dude>
	</div>
	<div class="actions">
		<%= f.submit 'Populate' %> |
		<%= link_to 'Cancel', @work_plan.partner %>
	</div>
<% end %>

<form method="post" action="">
<textarea name="comments" cols="40" rows="5">
Enter your comments here...
</textarea><br>
<input type="submit" value="Submit" />
</form>
