
<h1>Populate shifts</h1>

<h2> This is some text</h2>

<%= submit_tag "Confirm" %>

<%= link_to 'Show'%>

<%= form_for([@partner,@work_plan], :url => {:action => "update_shift"}) do |f| %>
  
	<div class="action">
                <%= f.submit %>
                |<%= link_to 'Cancel', @work_plan.partner %>
        </div>
<% end %> 

	<%= @work_plan %>



