<%= div_for contact do %>
	<h3>
		Contact
		<span class='actions'>
			<%= link_to 'Edit', edit_partner_contact_path(contact.partner, contact) %>
			<%= link_to_toggle_ids '[Hide/Unhide]', contact.id %>
		</span>
	</h3>
	<div class='element' id='<%=contact.id%>'> 
	<h4>Address </h4>
	<%= display_if_not_empty('',contact.address_line1) %>
	<%= display_if_not_empty('',contact.address_line2) %>
	<%= display_if_not_empty('',contact.city) %>
	<%= display_if_not_empty('',contact.county) %>
	<p class='element'> 
    <%= contact.country.name %>
	</p>
	<%= display_if_not_empty('',contact.post_code)%>
	<p class='element'> 
		<% for telephone in contact.telephones %>
        <%= telephone.number %>
    <% end %>
	</p>
	</div>
<% end %>

