<%= div_for contact do %>
	<h3>
		Contact
		<span class='actions'>
			<%= link_to 'Edit', edit_partner_contact_path(contact.partner, contact) %>
		</span>
	</h3>
		<h4>Telephone </h4>
		<div class = 'element'> 
			<% if not contact.telephone_no.nil? %><%= number_to_phone contact.telephone_no, :area_code => true , :country_code => 44%> <% else %> none <% end %>
		</div>
		<h4>Address </h4>
		<%= display_if_not_empty('',contact.address_line1) %>
		<%= display_if_not_empty('',contact.address_line2) %>
		<%= display_if_not_empty('',contact.city) %>
		<%= display_if_not_empty('',contact.county) %>
		<%= display_if_not_empty('',contact.post_code)%>
<% end %>

