<h1>Bridge</h1>

<%= table_for(@bridge_list) do |t| %>
	<%= t.head('Area', 'Break 1') %>
	<%= t.body do |competency| %>
		<%= t.r do %>
			<%= t.d(h(bridge_list.competency)) %>
			<%= t.d(h(bridge_list.partner)) %>
		<% end %>
	<% end %>
<% end %>

