<h1>Bridge</h1>

<%= table_for(@competencies) do |t| %>
	<%= t.head('Area', 'Break 1', 'Break 2', 'Break 3', 'Break 4') %>
	<%= t.body do |competency| %>
		<%= t.r do %>
			<%= t.d(h(competency.name)) %>
			<%= t.d(h(competency.id)) %>
		<% end %>
	<% end %>
<% end %>

