<ul class="topnav">  
	<li> 
		<%= link_to "Home" %>
	</li>  
	<li>  
		<%= link_to "Calendar", calendar_url %>
	</li>  
	<li>  
		<%= link_to "Partners", partners_url %>
		<ul class="subnav">  
		    <li><%= link_to "Find Partner" %></li>  
		    <li><%= link_to "New Partner" %></li>  
		</ul>  
	</li>  
	<li>
		<%= link_to "Holidays" %>
		<ul class="subnav">  
		    <li><%= link_to "Book a Holiday" %></li>  
		</ul>  
	</li> 
	<li>
		<%= link_to "Bridge" %>
	</li> 
	<li>
		<%= link_to "Contact Us" %>
	</li>  
</ul>
