<ul class="topnav">  
	<li> 
		<%= link_to "Home", root_url %>
	</li>  
	<li>  
		<%= link_to "Calendar", calendar_url %>
	</li>  
	<li>  
		<%= link_to "Partners", partners_url %>
		<ul class="subnav">  
		    <li><%= link_to "Find Partner", partners_url %></li>  
		    <li><%= link_to "New Partner", new_partner_url %></li>  
		</ul>  
	</li>  
	<li>
		<%= link_to "Holidays" %>
		<ul class="subnav">  
		    <li><%= link_to "Book a Holiday"%></li>  
		</ul>  
	</li> 
	<li>
		<%= link_to "Bridge", bridges_url %>
	</li> 
	<li>
		<%= link_to "Settings" %>
	</li>  
</ul>
